<link rel="stylesheet" href="{{url_for('static', filename='css/guitar.css')}}">
<script type="text/javascript" src="{{ url_for('static', filename = 'js/guitar.js') }}"></script>

<div class="guitar-full">
    <div class='guitar-text'>
        Drag and drop the finger marks to the correct locations for the chord
    </div>
    <div class="guitar-top">
        <div class="guitar-left">
            <div class="chord-pane">
                {{data.chord}}
            </div>
            <div class="finger-pane"></div>
            <div class="pane-reset">
                <div class="reset-button" id="reset-fingers">Reset</div>
            </div>
        </div>
        <div class="guitar-right">
            <div class="center-fret">
                <div class="fretboard"></div>
            </div>
        </div>
    </div>

    <div class="bottom-quiz">
        <div class="bottom-left">
            <div class="overview-button">
                <div id="result-placeholder"></div>
            </div>
        </div>
        <div class="bottom-right">
            <div class="quiz-bottom-button">
                <div class="green-button button-override-red pad-right-25" id="review" hidden>Review</div>
            </div>
            <div class="quiz-bottom-button">
                <div class="green-button disabled-button" id="submit-fingers">Check</div>

                <div class="green-button" id="next" hidden>Next</div>
                <div class="green-button" id="finish" hidden>Finish</div>
            </div>
        </div>
    </div>
</div>