<div class="screen">
    <div class="top">
        <div class="carousel-holder">
            {% include 'learn/learn-carousel.html' %}
        </div>


        <div class = "overview-text grey">
            A guitar is made out of six <span class = bold>strings</span>, each with different open notes (without any fingers pressed).
            <br><br>
            Moving up a <span class = bold>fret </span>(blocks on the board separated by metal) on a string will raise the note on that string by a half tone (ex. A to A#).
            <br><br>
            Having different harmonious notes on each string and playing them simultaneously will create a chord!
            For instance, a C major chord will consist of C, E, and G.
        </div>
    </div>


    <div class="bottom">
        <div class="overview-button">
            <div class="green-button" id="next">Next</div>
        </div>
    </div>
</div>