<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='base/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base/fa.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap" rel="stylesheet">

    <script type="text/javascript" src="{{ url_for('static', filename = 'base/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'base/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'base/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/common.js') }}"></script>
    <title>Group 1</title>
</head>

<body>
<div class="nav" id="nav-links">
    <a class="nav-opt" href="/">🎸</a>
    <a class="nav-opt" href="/home">Home</a>
    <a class="nav-opt" href="/learn/overview">Overview</a>
    <a class="nav-opt" href="/learn/c">C Chord</a>
    <a class="nav-opt" href="/learn/g">G Chord</a>
    <a class="nav-opt" href="/learn/am">Am Chord</a>
    <a class="nav-opt" href="/learn/f">F Chord</a>
    <a id='nav-quiz' class="nav-opt" href="/start-quiz">Quiz</a>

</div>
    {% block content %} {% endblock %}

</body>

</html>